<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.ScanQR.ScanQR_Activity"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".ui.NhatKyQuetThe.NhatKyQuetThe_MaNV_Activity" />
        <activity android:name=".ui.nghiphep.NghiPhep_MaNV_Activity" />
        <activity android:name=".ui.LenhTangCa.NhanVienTangCa_MaLenh_Activity" />
        <activity android:name=".ui.PhuLucHopDong.PhuLucHopDong_Activity" />
        <activity android:name=".ui.PhepNam.CTPhepNam_Activity" />
        <activity android:name=".ui.CongTac.CongTac_Activity" />
        <activity android:name=".ui.VeSom.VeSom_Activity" />
        <activity android:name=".ui.CheDoBaoHiem.CheDoBaoHiem_Activity" />
        <activity android:name=".ui.nhanvien.HDLD_Activity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>